<header class="header">

  <button
    type="button"
    class="menu-toggle"
    mat-icon-button
    (click)="toggleMenu()">

    <mat-icon>
      menu
    </mat-icon>

  </button>

  <div class="header-title">

    <div class="eyebrow">
      01 · High-fidelity mockup
    </div>

    <h1>
      <!-- Manager  -->
      Dashboard
    </h1>

    <p>
      Nav rail, KPI strip, task table, approvals &amp; SLA panels
    </p>

  </div>


  <div class="header-right">

    <div class="organization">
      Society 123 · Business Process Automation
    </div>

    <div class="header-actions">

      <div class="search-box">

        <mat-icon>
          search
        </mat-icon>

        <input
          type="text"
          placeholder="Search..."
        />

      </div>

      <div class="profile-avatar">
         {{ getInitials(username) }}
      </div>

    </div>

  </div>

</header>