.page-container {
  // padding: 20px;
  background: #f7f9fb;
  width: 100%;
    padding: 24px 34px;
    box-sizing: border-box;
}

/* ==================================== */
/* CARD */
/* ==================================== */

.view-card,
.history-card {
  border: 1px solid #d7e0e8;
  box-shadow: none !important;
  border-radius: 0;
  margin-bottom: 28px;
}

/* ==================================== */
/* HEADER */
/* ==================================== */

.card-header,
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

.page-title,
.section-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-title mat-icon,
.section-title mat-icon {
  color: #2f6fa3;
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.page-title span,
.section-title span {
  color: #163f70;
  font-size: 26px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", serif;
}

/* ==================================== */
/* BUTTON */
/* ==================================== */

.back-button {
  background: #1d4370 !important;
  color: white !important;
  min-width: 190px;
  height: 46px;
  font-weight: 600;
}

.back-button mat-icon {
  color: white;
}

/* ==================================== */
/* DETAILS */
/* ==================================== */

.details-section {
  padding: 30px;
}

.details-row {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.detail-item {
  flex: 1;
}

.label {
  font-weight: 700;
  color: #163f70;
  margin-right: 6px;
  font-size: 16px;
}

.value {
  color: #163f70;
  font-size: 16px;
}

.status-text {
  font-weight: 600;
}

/* ==================================== */
/* TABLE */
/* ==================================== */

.table-wrapper {
  overflow-x: auto;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th {
  background: #eef3f7;
  color: #163f70;
  font-weight: 700;
  text-align: left;
  padding: 16px 18px;
  border: 1px solid #d7e0e8;
}

.history-table td {
  padding: 18px;
  border: 1px solid #d7e0e8;
  color: #163f70;
}

.action-badge {
  display: inline-block;
  padding: 7px 14px;
  background: #edf4f8;
  border: 1px solid #c9d9e7;
  border-radius: 4px;
  color: #215d95;
  font-weight: 600;
}

.no-record {
  padding: 25px;
  text-align: center;
  color: #777;
}

/* ==================================== */
/* MOBILE */
/* ==================================== */

@media (max-width: 768px) {

  .details-row {
    flex-direction: column;
    gap: 18px;
  }

  .card-header,
  .section-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .back-button {
    width: 100%;
  }
}